body {
  background-color: #111111;
  color: #fafafa;
  text-decoration: none;
}

nav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  a {
    color: red;
    text-decoration: none;
  }
}
